<header>
  <nav>
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#">Feed</a></li>
          <li><%= link_to "Login", :new_user_session %></li>
          <li>
            <%= link_to "Sign up", :new_user_registration, class: 'waves-effect waves-light btn' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>