@import "materialize";
@import "material_icons";
@import "city";
@import "home";
@import "volunteers";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
